streamlit

langchain
langchain_community
langchain_groq
langchain_huggingface
langchain_core
langchain_experimental

groq

huggingface-hub

dotenv

chromadb
tiktoken
pypdf
faiss-cpu

requests

pymupdf
langchain_chroma
unstructured
python-docx
protobuf==3.20.3
pysqlite3-binary

